
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 3rem;
}

.grid-container {
    border: 2px solid black;
    border-radius: 4px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    box-shadow: #50555C 10px 10px 10px ;
    background-color: white;
}

input[type="color"] {
    width: 100%;
    height: 100%;
    border: 0;
    transform: scale(1.2);
    cursor: pointer;
}

.colour-wrapper {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;

    box-shadow: #50555C 5px 5px 15px;
}

button {
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    background-color: white;
    box-shadow: #50555C 10px 10px 10px ;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;

    transition: all 200ms;
}

button:active {
    color: white;
    background-color: #50555C;
}

button:hover {
  transform: scale(1.1);
}

  /* copy and paste job beneath */

input[type=range] {
    height: 33px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 150%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 25px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 10px #000000;
    border: 0px solid #000000;
    height: 26px;
    width: 20px;
    border-radius: 0px;
    background: #EBEBEB;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 25px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 10px #000000;
    border: 0px solid #000000;
    height: 26px;
    width: 20px;
    border-radius: 0px;
    background: #EBEBEB;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 25px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 10px #000000;
    border: 0px solid #000000;
    height: 26px;
    width: 20px;
    border-radius: 0px;
    background: #EBEBEB;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
  }
  
  /* copy and paste ends */

  label {
    font-size: 1.5em;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: -50px;
  }

  @media (max-width: 836px) {

    main {
      display: flex;
      flex-direction: column;
      transform: scale(0.5);
    }
  }